.slick-prev {
    margin-left: 50px !important;
    padding-top: 15px;
    z-index: 1;
}

.slick-next {
    margin-right: 50px !important;
    padding-top: 15px;
    z-index: 1;
}

.slick-dots {
    text-align: left !important;
}