.input_group.with_icon {
    position: relative;
    width: 230px;
    height: 40px;
    margin-top: 40px;
    margin-left: 25px;
}

.fas {
    position: absolute;
    top: 12px;
    left: 200px;
    font-weight: bold;
    font-style: normal;
}

.form_control_inputan {
    width: 230px;
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    z-index: -1;
    border: 1px solid #8e8e93;
    border-radius: 23px;
}

.fa_search {
    color: #8e8e93;
    cursor: pointer;
}