.wrapper_content {
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.text_reset {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
}

.forgot {
    align-self: flex-end;
    font-size: 14px;
    color: #db3022;
    margin-top: 26px;
    text-decoration: none;
}

.account {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}

.register {
    font-size: 14px;
    text-align: center;
    color: #db3022;
    text-decoration: none;
}