@font-face {
    font-family: "Metropolis";
    src: url("../src/assets/font/Metropolis-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Metropolis";
    src: url("../src/assets/font/Metropolis-Bold.otf") format("truetype");
}

@font-face {
    font-family: "Metropolis";
    src: url("../src/assets/font/Metropolis-Medium.otf") format("truetype");
}

body {
    margin: 0;
    font-family: "Metropolis";
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}